<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home/perfil">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-picture">
    <img src="../../../../assets/UserCircle.png" alt="Foto do Usuário">
    <!-- <a>Alterar imagem</a> -->
  </div>
  <div class="edit-list">
    <ion-list>
      <ion-item>
        <ion-label class="edit-inputs" position="stacked">Nome:</ion-label>
        <ion-input class="edit-inputs" [(ngModel)]="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="edit-inputs" position="stacked">Sobrenome:</ion-label>
        <ion-input class="edit-inputs" [(ngModel)]="sobrenome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="edit-inputs" position="stacked">Email:</ion-label>
        <ion-input class="edit-inputs" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="edit-inputs" position="stacked">Senha:</ion-label>
        <ion-input class="edit-inputs" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="edit-inputs" position="stacked">Telefone:</ion-label>
        <ion-input class="edit-inputs" [(ngModel)]="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="edit-inputs" position="stacked">CPF:</ion-label>
        <ion-input class="edit-inputs" [(ngModel)]="cpf"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div class="container-button">
    <ion-button expand="half" color="success" class="button-container" (click)="save()">Salvar</ion-button>
    <!-- <ion-button expand="half" color="danger" fill="outline" class="button-container">Editar senha</ion-button> -->
  </div>
</ion-content>