<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--CARD 1-->
  <ion-card class="cartaoMenu">
    <ion-card-header>
      <ion-card-title>
        Tem fone que não funciona? Mouse quebrado? Faça sua parte sem precisar ir sair de casa!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center">
      <ion-button>Coletar</ion-button>
    </ion-card-content>
  </ion-card>
<br>
<br>
  <!--CARD 2-->
  <ion-card>
    <ion-card-header>
      <ion-card-title >
        Veja como contribruir mais com a natureza!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center">
      <ion-button>Ver dicas</ion-button>
    </ion-card-content>
  </ion-card>
