<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--CARD 1-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p style="color: white">Tem fone que não funciona? Mouse quebrado? Faça sua parte sem precisar ir sair de casa!</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-button class="botaoColetarMenu">Coletar</ion-button>
    </ion-card-content>
  </ion-card>
<br>
<br>

  <!--CARD 2-->
  <ion-card class="ion-padding">
    <ion-card-content class ="cardContent">
      <ion-row class="ion-align-items-center">
        <ion-col size="5">
          <div>
            <img src="../../assets/images/duaspessoasjogandolixo.png">
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-card-title style="color: white;">Veja como pode contribruir mais com a natureza!</ion-card-title>
          <ion-button class="botaoVerDicas">Ver dicas</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding" style="text-align: center;" >
    <ion-grid>
      <ion-row>
        <ion-col class="centralizar"><b>Coletas ativas</b></ion-col>
        <ion-col></ion-col>
        <ion-col>
          <ion-button class="botaoDetalhes" fill="clear" size="small">
            Ver detalhes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"></ion-col>
        <ion-col size="3">Data</ion-col>
        <ion-col size="6" >Previsão da chegada</ion-col>
        <ion-col size="2">Local</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
<ion-grid class="resumeMenu" [fixed]="true">
  <ion-row>
    <ion-col size="3">26/10/2022</ion-col>
    <ion-col size="6">27 às 14 horas</ion-col>
    <ion-col size="3">Sua casa</ion-col>
  </ion-row>
</ion-grid>

</ion-content>