<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recicladoras salvas</ion-title>
  </ion-toolbar>
</ion-header>
<!-- seções recolhíveis-->
<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Reciladora Osasco </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><ion-icon name="location-outline"></ion-icon> Av. Autonomistas, 123 <br> <ion-icon name="call-outline"></ion-icon> (11)2345-6789 <br> <ion-icon name="time-outline"></ion-icon> Segunnda a Sexta: 08:00 às
        18:00</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>EcoRecycle </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">  <ion-icon name="location-outline"></ion-icon> Rua das Flores, 4501
        <br><ion-icon name="call-outline"></ion-icon> (11)5723-8185 <br><ion-icon name="time-outline"></ion-icon>
        Segunnda a Sexta: 08:00 às 18:00 <br> <ion-icon name="time-outline"></ion-icon> Sábado: 08:00 às 16:00 </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>GreenCycle</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"> <ion-icon name="location-outline"></ion-icon> Rua dos principes, 272<br>
        <ion-icon name="call-outline"></ion-icon> (11)7182-2043 <br><ion-icon name="time-outline"></ion-icon> Segunnda a Sexta: 08:00 às 18:00 <br><ion-icon name="time-outline"></ion-icon>  Sábado: 08:00 às 16:00 </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>EcoSmart Recycling</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"> <ion-icon name="location-outline"></ion-icon> Av. Paulista, 2003 <br> <ion-icon name="call-outline"></ion-icon> (11)4007-1193 <br><ion-icon name="time-outline"></ion-icon> Segunnda a Sexta: 08:00 às
        18:00</div>
    </ion-accordion>
  </ion-accordion-group>
<!--imagem de caminhão-->
  <div class="img">
    <img src="../../../assets/localizaCami.png" alt="caminhao">
  </div>
</ion-content>