<ion-header>
  <ion-toolbar>
    <ion-title>Nova Coleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <img src="../../../assets/Caminhao_novo_pedido.png" alt="Caminhão de Lixo Eletrônico">
  </div>

  <div class="text-container">
    <p>Buscamos o lixo eletrônico na sua casa, para um descarte rápido e seguro.</p>
  </div>

  <div class="button-container">
    <button class="button" routerLink="/home/novo-pedido/dados-coleta">Nova coleta</button>
  </div>
</ion-content>