<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home/menu">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class =  "Imagem_fluxo">
    <img src = "../../../../assets/out_fluxo.png"> </div>

      <div class =  "Imagem_caminhao">
        <img src = "../../../../assets/caminhao_dicas.png">
      </div>
      <div class = "Primeiro_Titulo">
        <p> PENSE ANTES DE ADQUIRIR UM NOVO PRODUTO </p> 
      </div>
      <div class = "Primeiro_Texto">
        <p> Reflita se realmente vale a pena substituir o celular, o laptop ou o computador por um novo. Será que é apenas por questões estéticas? Ou por funcionalidades melhores que você nem sequer usa? 
          Se buscar por aparelhos mais modernos, às vezes o que você possui só precisa de um upgrade, como o aumento de memória. Ou, se estiverem quebrados, tente consertá-los antes de adquirir um novo. 
          Ao deixar de comprar um novo, você colabora para eliminar os impactos negativos da sua produção, além de economizar no bolso.</p> </div>


  <div class = "Segundo_Titulo">
    <p>DÊ PREFERÊNCIA ÀS EMPRESAS PREOCUPADAS COM OS IMPACTOS DOS PRODUTOS</p>
  </div>
  <div class = "Segundo_Texto">
     <p>Quando decidir pela compra de um novo aparelho, escolha empresas e marcas que demonstrem preocupação com os impactos os impactos negativos da fabricação, buscando minimizá-los, e do descarte de seus produtos.
      Dessa forma, você valoriza as boas práticas e estimula os fabricantes a manterem essa conduta, incentivando outros a seguirem por este caminho. Veja alguns exemplos no próximo item.</p>
      </div>
      <div class = "Terceiro_Titulo">
        <p>DEVOLVA OS  EQUIPAMENTOS USADOS PARA OS FABRICANTES OU PARA AS LOJAS ADQUIRIDAS</p>
      </div>
      <div class = "Terceiro_Texto">
         <p>Não jogue no lixo os aparelhos velhos , quebrados e sem possibilidade de conserto. 
          Você pode devolvê-los aos fabricantes, que deverão dar uma destinação adequada, ou
           pode enviá-los para a reciclagem, que desmontará o produto, utilizará as peças que 
           estão em boas condições em itens novos ou recondicionados, e encaminhará os rejeitos 
           para aterros especiais.</p>
          </div>
</ion-content>
