<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home/dados-coleta">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Confirmação de coleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar value="1"  color="success"></ion-progress-bar>

  <div class="text">
    <h2>Pagamento confirmado</h2>
    <p>Obrigado por contratar nossos serviços e ajudar o meio ambiente!</p>
  </div>

  <div class="img">
    <img src="../../../../assets/PedidoConfirmado.png">
  </div>

  <ion-button color="success" expand="full"  routerLink="/home/menu">Voltar a tela inicial</ion-button>

</ion-content>