<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/perfil">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2> O que é a Ecologic Eletronics?</h2>
    <ion-card-content class="ion-text-justify">
      <p><strong>Muito prazer, nós somos Ecologic Eletronics, entregando soluções e conscientização a
          um clique de distância. </strong></p>
      <br>
      <div>
        <img src="../../../../assets/QuemSomos.png">
      </div>
      <br>
      <p>
        Estamos comprometidos em oferecer soluções inovadoras e responsáveis para clientes de diversos segmentos,
        contribuindo para um futuro mais sustentável.
      </p>
      <br>
      <p>

        Visto que, o Brasil é o 7º maior contribuinte de lixo eletrônico do mundo, conforme o estudo Global e-Waste
        Monitor, realizado pela ONU, e anualmente, o país produz 1,5 mil toneladas de lixo eletrônico, entretanto apenas
        3% tem o descarte adequado.
        Somos um time que trabalha em parceria com o descarte
        consciente, viabilizando atitudes ecológicas e sustentáveis. Desta forma, nós acreditamos na importância e na
        força de cada ação sustentável, aprendendo juntos a constituir uma pátria preservada.

      </p>
      <br>
      <div>
        <img src="../../../../assets/QuemSomos1.png">
      </div>
      <br>
      <p>
        Ser Ecologic Eletronics é trabalhar em equipe com o
        as próximas gerações.
        A gente existe para construir um mundo límpido, ecológico e
        sustentável: entre pessoas e tecnologias. Nós somos a ecologic eletronics: pessoas, tecnologia e mudanças.
        <strong>Seja você parte dessa mudança!</strong>
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>