<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home/perfil">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Dados do Cartão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nome no Cartão</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Numeração do Cartão</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Validade do Cartão</ion-label>
        <ion-input type="date" value="00/00/0000"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CVV do Cartão</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="links-container">
    <a>Registrar novo cartão</a>
    <a>Excluir cartão</a>
  </div>
</ion-content>