<ion-header [translucent]="true">

  <button id="backButton" routerLink="/login"><ion-icon name="arrow-back-outline"></ion-icon></button>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="logo">
    <picture>
      <img src="../../assets/logo.png" alt="logo" unselectable="on" width="20%">
    </picture>
    <p>Ecologic</p>
    <p>Electronics</p>
  </div>

  <div id="ResetPassword">
    <p id="ResetLabel">Esqueci minha senha</p>
    <p id="Descricao">informe o email para o qual deseja redefinir sua senha.</p>

    <div id="ResetPasswordField">

      <div class="loginInputs">
        <input type="email" id="emailInput" placeholder="Email" [(ngModel)]="email">
      </div>
    </div>

    <div>
      <button id="SendButton" (click)="checkEmail()">Enviar</button>
    </div>
  </div>


</ion-content>