<ion-header [translucent]="true">
  
  <button id="backButton" routerLink="/start"><ion-icon name="arrow-back-outline"></ion-icon></button>
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="logo">
    <picture>
      <img src="../../assets/logo.png" alt="logo" unselectable="on" width="20%">
    </picture>
    <p>Ecologic</p>
    <p>Electronics</p>
  </div>


  <div id="signup">
    <p id="signupLabel">Criar conta</p>

    <div id="signupields">
      
      <div id="name">
        <div id="firstNameField">
          <input type="text" id="firstNameInput" placeholder="Nome" [(ngModel)]="firstName">
        </div>
        
        <div id="lastNameField">
          <input type="text" id="lastNameInput" placeholder="Sobrenome" [(ngModel)]="lastName">
        </div>
      </div>
     
      <div class="signupInputs">
        <input type="email" id="emailInput" placeholder="Email" [(ngModel)]="email">
      </div>
      
      <div class="signupInputs">
        <input type="{{ showPassword === false ? 'password' : 'text'}}" id="passwordInput" placeholder="Senha" [(ngModel)]="password">
        <button id="passwordButton" (click)="togglePassword();"><ion-icon id="passwordButtonIcon" name="{{showPassword === true ? 'eye-off-outline' : 'eye-outline'}}"></ion-icon></button>
      </div>

      <div class="signupInputs">
        <input type="{{ showConfirmPassword === false ? 'password' : 'text'}}" id="passwordInput" placeholder="Confirmar Senha" [(ngModel)]="confirmPassword">
        <button id="passwordButton" (click)="toggleConfirmPassword();"><ion-icon id="passwordButtonIcon" name="{{showConfirmPassword === true ? 'eye-off-outline' : 'eye-outline'}}"></ion-icon></button>
      </div>

    </div>

    <ion-checkbox labelPlacement="end" id='terms' [(ngModel)]="agreedTerms ">Concordo com os termos e politícas de privacidade</ion-checkbox>
    
    <button id="signupButton">Criar conta</button>
    
    <div id="login" routerLink="/login">Já possui conta? Faça login</div>


  </div>

</ion-content>
