.botaoColetarMenu {
  --background: #07341F;
  height: 40px;
  width: 170px;
  --border-radius: 55px;
}

.botaoVerDicas {
  --background:  #07341F;
  height: 35px;
  width: 120px;
  --border-radius: 55px;
}


.botaoTextoDicas {
  --background:  #07341F;
  height: 35px;
  width: 120px;
  --border-radius: 55px;
}


.cardContent {
  padding: 0;
  text-align: center;
}

.botaoDetalhes {
  font-size: small;
  padding-top: 10px;
  --color: #2D9F64;
}

  ion-card {
    box-shadow: none;
    border-radius: 20px;
    background-color: #6AC07D;

    img {
      border-radius: 5%;
    }

    ion-card-title{
      font-weight: bold;
      padding-bottom: 6px;
      padding-left: 18px;
      }

    ion-col {
      color: white;
    }
    }

.gridMenu {

  ion-button {
    --color: black;
    --background: transparent;
  }
}

.ion-padding {
  padding: 1em;
}

.centralizar {
  padding: 17px 0;
}

.resumeMenu {
  border: 2px solid #74C17C;
  background-color: #E1E1E6;
  text-align: center;
  border-radius: 14px;
  width: 400px;
  height: 200px;
}