ion-tab-bar{
  background-color: transparent;
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 5%;
  border: none;
}

ion-tab-button {
  --color: #252525;
  --color-selected: #6ac07d;
  background-color: transparent;
}